/* body {
    background-color: lightblue;
} */

nav {
    display: inline-block;
    justify-content: left;
    overflow: hidden;
    
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10% 10%;
    text-decoration: none;
    font-size: 17px;
  }

/* Change the color of links on hover
.topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Right-aligned section inside the top navigation */
  .topnav-right {
    float: right;
  }