body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    /* background-color: #333; */
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    /* float: right; */
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 80%;
    /* padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(101, 131, 167);
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #a199c4; */
    min-width: 100px; /* Change Later to be dynamic */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    padding: 14px 80%;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    /* padding: 14px 80%; */
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }