*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(20, 182, 182, 0.664);
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(221, 221, 221);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(221, 221, 221);
    margin: 5px;
}

/* Smaller Screens */
@media screen and (max-width:1024px){
    .nav-links{
        width: 40%
    }
}
@media screen and (max-width:896px){
    .nav-links{
        width: 50%
    }
}

/* Mobile */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(20, 182, 182, 0.664);
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}