*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: rgb(221, 221, 221);
    background-color: rgba(20, 182, 182, 0.664);
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(221, 221, 221);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    /* width: 80%; */
    /* align-content: right; */
    /* justify-content: left; */
}

.about{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


/* Smaller Screens
@media screen and (max-width:1024px){
    .nav-links{
        width: 40%
    }
}
@media screen and (max-width:896px){
    .nav-links{
        width: 50%
    }
} */

/* Mobile */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(20, 182, 182, 0.664);
        width: 50%;
        /* transform: translateX(100%); */
        /* transition: transform 0.5s ease-in; */
    }

    /* .nav-links li{
        opacity: 0;
    } */

}