*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
} 

body {
    background: rgb(27, 27, 27);
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.flex-container {
    display: flex;
    align-items: stretch;
    /* justify-content: flex-end; */
    background-color: rgba(20, 182, 182, 0.664);
    /* font-family: 'Poppins', sans-serif; */
    text-transform: uppercase;
    font-size: 20px;
    min-height: 8vh;

    align-items: center;
    /* flex-direction: row; */
    /* justify-content: center; */
  }
  
  .flex-container > div {
    /* background-color: DodgerBlue; */
    
    /* align-content: center; */

    text-align: center;

    color: rgb(221, 221, 221);
    letter-spacing: 5px;
    /* width: 100px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px; */
  }

.logo{
    position: fixed;
    padding-left: 10%;
}

.menu{
    /* align-items: right;
    justify-content: right;
    color: rgb(146, 17, 17);
    background-color: DodgerBlue;  */
    /* justify-content: flex-end; */
    flex-direction: row;
    font-size: 14px;
    letter-spacing: 3px;

    padding-left: 70%;

}

  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.row {
    display: flex;
    /* background: bisque; */
    /* padding-left: 2%;
    padding-right: 2%; */
    padding-top: 2%;
}
  
.column {
    flex: 40%;
    padding-left: 10%;
    /* background: gray; */
}

/* Mobile */
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .column {
        width: 100%;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(20, 182, 182, 0.664);
        width: 40%;
        /* transform: translateX(100%); */
        /* transition: transform 0.5s ease-in; */
    }

    /* .nav-links li{
        opacity: 0;
    } */

}
