/* .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    background-color: red;
  } */

*{
    margin: 0%;
    /* padding: 0%; */
    /* padding-top: 10%; */
    /* box-sizing: border-box;  */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: .25%;
    margin-right: .25%;
} 

body {
    background: rgb(27, 27, 27);
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;   
}



  .column {
    float: left;
    color: rgb(27, 27, 27);
  }
  
  .left {
    width: 49.5%;
    /* padding-bottom: 50%; */
    background-color: rgb(228, 228, 228);
    text-align: right;
    /* height: 100%; */
    /* padding-right: 1%; */
  }
  
  .right {
    width: 49.5%;
    /* padding-bottom: 50%; */
    /* margin-bottom: 50%; */
    background-color: rgb(159, 175, 174);
    /* padding-left: 1%; */
  }

  .left2 {
    width: 49.5%;
    /* padding-bottom: 50%; */
    background-color: rgb(228, 228, 228);
    
    /* height: 100%; */
    /* padding-right: 1%; */
  }
  
  .right2 {
    width: 49.5%;
    text-align: right;
    /* padding-bottom: 50%; */
    /* margin-bottom: 50%; */
    background-color: rgb(159, 175, 174);
    /* padding-left: 1%; */
  }




  /* .square {
    position: center;
    width: 50%;
    background-color: blue;
  } */
  
  /* .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  } */
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .inside {
      padding: 5%;
  }

  .sp {
      width: 100%;
  }


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
}


.line{
    width: 25%;
    height: 9%;
    border-bottom: 1px solid black;
    position: absolute;
    }