

html, body {
    width:  10%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: rgb(27, 27, 27);
    color: rgb(221, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;  

  }



.center{
    position: absolute;
    width: 800px;
    /* border-radius: 5px; */
    /* background: #ccc; */
    /* padding: 10px; */
    /* height: 50px; */
    /* background: rgb(27, 27, 27); */
    /* text-shadow: 2px 1px 1px rgb(27, 27, 27);
     */
    text-shadow: 1px 0 0 rgb(27, 27, 27), -1px 0 0 rgb(27, 27, 27), 0 1px 0 rgb(27, 27, 27), 0 -2px 0 rgb(27, 27, 27), 1px 1px rgb(27, 27, 27), -1px -1px 0 rgb(27, 27, 27), 1px -1px 0 rgb(27, 27, 27), -1px 1px 0 rgb(27, 27, 27);
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    
    margin-top: -25px;
    margin-left: -400px;
    top: 50%;
    left: 50%;
  }