body {
    background-color: rgb(240, 240, 240);
    padding: 0;
    margin: 0;
    color: rgb(26, 26, 26);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 2.5%;
    padding-bottom: 2.5%; */
    padding-left: 10%;
    padding-right: 10%;
}

.cardColumn {
    flex: 30%;
    max-width: 30%;
    /* width: 300px; */
    padding-left: 2.5%;
    padding-bottom: 2.5%;
    height: 400px;
    /* box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 4px 8px 6px rgba(0, 42, 228, 0.712);/*, -4px 0 4px rgba(10, 0, 150, 0.726), 0 8px 4px rgba(10, 0, 150, 0.726);*/
    cursor: pointer;
}


.cardUpper {
    height: 200px;
}

.slider {
    height: 0;
    /* background-color: rgb(110, 113, 116); */
    opacity: 0;
    padding: 0 0 0 2.5%;
    /* line-height: 100px; */
}

.one {
    line-height: 200px;
}
.two {
    line-height: 100px;
}

.slider a {
    text-decoration: none;
    position: relative;
    /* z-index: 10; */
}

.cardCover {
    background-color: rgb(240, 240, 240);
    height: 0px;
    /* display: none; */
    visibility: hidden;
}

.cardLower {
    padding: 0 2.5% 0 2.5%;
    height: 170px;
}

.cardLanguages {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0 2.5% 0 2.5%;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
}

.cardLanguages li{
    float: left;
    padding-right: 10px;
    list-style-type: none;
}

@media (max-width: 900px) {
    .cardColumn {
        flex: 44%;
        max-width: 44%;
        padding-left: 4%;
    }
}

@media (max-width: 600px) {
    .cardColumn {
        flex: 80%;
        max-width: 80%;
        padding-left: 10%;
    }
}