html {
    position: relative;
    min-height: 100%;
}

body {
    background: rgb(27, 27, 27);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    /*background: grey;*/
    /*padding: 20px;*/
    height: 300px;

    background-image: url("images/mountains.jpeg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /*top: 10px;*/

    
    background-image: url("images/coast.jpg");
    background-position-y: -10px;
    background-origin: 10 10 10 10;
    background-size: 100%;
    background-position: 0 -120px;
    background-repeat: no-repeat;
    position: relative;
    
}

strong {
    color: rgb(145, 136, 136);
}

ul {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    opacity: .7;
    /*background: rgb(27, 27, 27);*/
  
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
}

/*
nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px 0 0;
}
*/

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgb(58, 58, 58);
}

a:hover {
    color: rgb(182, 182, 182);
}

a:active {
    /*color: black;*/
    color: black;
}

.inside:link{
    color: white;
    text-decoration: underline;
}

.inside:visited {
    color: rgb(182, 182, 182);
    text-decoration: underline;
}

.inside:hover {
    color: rgb(58, 58, 58);
    text-decoration: underline;
}

.pdf .inside:link{
    color: white;
    text-decoration: underline;
}

.pdf .inside:visited {
    color: rgb(182, 182, 182);
    text-decoration: underline;
}

.pdf .inside:hover {
    color: rgb(58, 58, 58);
    text-decoration: underline;
}


div.hr1 {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 1px;
    margin-top: -1%;
}

div.hr2 {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 1px;
    margin-top: -1%;
    margin-top: 2%;
    margin-bottom: 2%
}

.bio {
    /*background: lightblue;*/
    /*padding: 20px;*/
    
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bio div {
    /*display: */
}

.bio figure img {
    width: 139px;
    /*height: 200px;*/
    border-radius: 10%;
    /*border-radius: 50%;*/
    box-shadow: rgb(0, 0, 0) 0 0 1px;
    /*border: 1px solid white;*/
}

.bio.bio {
    /*height: 300px;*/
    /*font-size: 20px;*/
}


/*--------------------------------------*/
.portfolio {
    /*background: lightblue;*/
    /*padding: 20px;*/
    
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio div {
    /*display: */
}

.portfolio figure img {
    
    width: 190px;
    /*height: 200px;*/
    border-radius: 1%;
    /*border-radius: 50%;*/
    box-shadow: rgb(0, 0, 0) 0 0 1px;
    /*border: 1px solid white;*/
}

.blue_text {
    /*height: 300px;*/
    /*font-size: 14px;*/
}

p {
    text-align: left;
}

.experience p{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: left;
}

.experience .pdf {
    margin-bottom: 5%;
}

.experience a:link {
    color: rgb(58, 58, 58);
    text-decoration: none;
}

br {
    content: " ";
    display: block;
    margin: 15px 0;
}

footer {
    text-align: center;
    color: rgb(58, 58, 58);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: center;
  }

.column {
    float: left;
    width: 50%;
    margin-bottom: 40px;
    justify-content: center;
  }

.row figure img {
    float: right;
    
    width: 190px;
    /*height: 200px;*/
    border-radius: 1%;
    /*border-radius: 50%;*/
    box-shadow: rgb(0, 0, 0) 0 0 1px;
    /*border: 1px solid white;*/
}

.games {
    
    margin-top: 1%;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.score {
    text-align: center; 
    justify-content: center;
}
